<%- include('p/header'); -%>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">  

            <% for(var i=0; i<bd.length; i++){ %>

              <div class="col-4 col-sm-4 col-md-3 col-lg-2 b-item">
                  <div class="card mb-4 shadow-sm"   style="border-color: <%= colour[i].bgcolor %>;color: <%= colour[i].color %>; border-width:4px">
                    <a class="d-block mx-auto portfolio-item" href=""><img src="" class="bd-placeholder-img card-img-top" width="100%" height="140" /></a>
                    <div class="card-body">
                        <center>
                      <h5 class="card-text mb-3"><%= bd[i] %></h5>
                        </center>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="btn-group">
                          <a type="button" class="btn btn-sm btn-outline-secondary" href=""></a>
                        </div>
            
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col mb-4">
                <div class="card h-100">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%= bd[i] %></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>

          <% } %>     
            
        </div>
        <p  class="secret-text mx-auto text-center"> Beta Version &nbsp;&nbsp;&nbsp; Updated Soon</p>
    </div>
</div>

<%- include('p/footer'); -%>